/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "Albra";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/albra.eot"); /* IE9 Compat Modes */
  src: url("../fonts/albra.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/albra.otf") format("opentype"), /* Open Type Font */
    url("../fonts/albra.svg") format("svg"), /* Legacy iOS */
    url("../fonts/albra.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/albra.woff") format("woff"), /* Modern Browsers */
    url("../fonts/albra.woff2") format("woff2"); /* Modern Browsers */
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/lato-medium.eot"); /* IE9 Compat Modes */
  src: url("../fonts/lato-medium.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/lato-medium.otf") format("opentype"), /* Open Type Font */
    url("../fonts/lato-medium.svg") format("svg"), /* Legacy iOS */
    url("../fonts/lato-medium.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/lato-medium.woff") format("woff"), /* Modern Browsers */
    url("../fonts/lato-medium.woff2") format("woff2"); /* Modern Browsers */
}
