html,
body {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $color-white;
  color: $color-primary;
  font-family: $font-body;
}

a {
  display: inline-block;
  transition: $transition;
  border-bottom: 1px solid lighten($color-accent, 40%);
  color: $color-accent;
  line-height: 1.5;
  text-decoration: none;

  &:active,
  &:visited {
    color: $color-accent;
  }

  &:hover {
    transition: $transition;
    color: lighten($color-accent, 20%);
  }

  &.logo__link {
    border: none;
  }
}

main {
  max-width: 2560px;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $grid-2x $grid-2x 0;

  @media screen and (min-width: 500px) {
    padding: $grid-4x;
  }

  @media screen and (min-width: 768px) {
    position: fixed;
    width: 100%;
    padding: $grid-6x;
    z-index: 10;
  }

  @media screen and (min-width: 1024px) {
    position: fixed;
    padding: $grid-8x;
    z-index: 10;
  }

  a {
    font-size: 20px;
  }
}

video {
  margin: auto;
  cursor: pointer;
}

.video-wrapper {
  position: relative;
  margin: $grid-10x auto;
}

.section {
  padding-top: $grid-3x;
  padding-bottom: $grid-3x;

  @media screen and (min-width: 768px) {
    min-height: 100vh;
    padding-top: $grid-10x;
    padding-bottom: $grid-10x;
  }

  @media screen and (min-width: 1024px) {
    min-height: 80vh;
  }

  &__hero {
    background: linear-gradient(45deg, #ffffff 25%, transparent 25%), linear-gradient(315deg, #ffffff 25%, transparent 25%), linear-gradient(45deg, transparent 24%, #F4EEFD 25%, #F4EEFD 30%, transparent 31%, transparent 39%, #F4EEFD 40%, #F4EEFD 45%, transparent 45%), linear-gradient(315deg, transparent 24%, #F4EEFD 25%, #F4EEFD 30%, transparent 31%, transparent 39%, #F4EEFD 40%, #F4EEFD 45%, transparent 45%);
    background-size: 1em 1em;
    background-color: #ffffff;

    @media screen and (min-width: 768px) {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  &--highlight {
    border-top: 1px dotted $color-accent;
    background: $color-white;
  }

  &__intro {
    display: grid;
    align-items: stretch;
    justify-content: center;
    max-width: 1200px;
    margin: $grid-4x auto $grid-7x;
    color: $color-primary;

    @media screen and (min-width: 768px) {
      align-items: center;
      min-height: 80vh;
      margin: 0 auto;
    }

    h1 {
      font-family: $font-body;
      font-size: 56px;
      font-weight: 600;
    }
  }

  &__intro-content {
    background: $color-white;
    padding: $grid-5x;

    @media screen and (min-width: 768px) and (orientation: landscape) {
      margin-top: $grid-6x;
      padding: $grid-10x;
      border-radius: $grid-5x;
      background-color: rgba(255, 255, 255, 0.6);
    }

    p {
      color: #666;
      font-family: $font-body;
      font-size: 28px;
      font-weight: 100;
      line-height: 1.35;

      @media screen and (min-width: 768px) {
        max-width: 800px;
        line-height: 1.35;
      }
    }
  }

  &__portfolio {
    @media screen and (min-width: 768px) {
      min-height: 100vh;
    }
  }

  &__about {
    @media screen and (min-width: 1024px) {
      min-height: 50vh;
      padding-top: 200px;
    }

    @media screen and (min-width: 1200px) {
      min-height: 80vh;
      padding-top: 100px;
    }

    h1 {
      font-family: $font-body;
      font-size: 50px;
      line-height: 1.2;

      @media screen and (min-width: 1200px) {
        font-size: 80px;
        line-height: 1.1;
      }
    }
  }

  &__tight {
    padding-top: 0;
    padding-bottom: 0;

    >p {
      max-width: 700px;
      margin: 40px 0;
    }
  }

  &__wide {
    @media screen and (min-width: 768px) {
      display: grid;
      justify-content: center;
    }

    h3 {
      color: $color-accent;
    }
  }

  .column {
    @media screen and (min-width: 768px) {
      max-width: 50%;
    }

    &__content {
      @media screen and (min-width: 768px) {
        max-width: 700px;
      }
    }
  }

  &__footer {
    margin-top: 100px;
    padding-top: 170px;
    background: lighten($color-accent, 50%);
    background-image: repeating-linear-gradient(135deg,
        lighten($color-accent, 47%) 0,
        lighten($color-accent, 47%) 1px,
        lighten($color-accent, 50%) 0,
        lighten($color-accent, 50%) 50%);
    background-size: 10px 10px;
    color: $color-white;

    @media screen and (min-width: 768px) {
      min-height: 100vh;
    }

    h2,
    p {
      max-width: 600px;
      color: $color-primary;
    }

    p {
      font-size: 20px;
    }

    a {
      display: inline;
    }
  }
}

.disciplines {
  max-width: 700px;
  padding: 0;
  column-count: 2;
  list-style-type: none;

  li {
    margin: $grid-2x 0;

    &:first-of-type {
      margin-top: 0;
    }
  }
}

.about-image {
  max-height: 600px;
}