/* =========================================================
   NAVIGATION
   ========================================================= */

.navigation {
  display: flex;
  align-items: center;
  gap: $grid-3x;

  li {
    margin: 0;
    list-style: none;;
  }

  a {
    border: none;
    color: $text-muted;

    font-size: $text-sm;

    &:hover {
      color: $text;
    }
  }
}
