/*
 * [Modified] Modern CSS Reset
 * @link https://github.com/hankchizljaw/modern-css-reset
*/


/* =========================================================
   BOX SIZING
   ========================================================= */

*,
*::before,
*::after {
  box-sizing: border-box;
}


/* =========================================================
   REMOVE DEFAULT MARGINS
   ========================================================= */

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}


/* =========================================================
   TEXT SAFETY
   ========================================================= */

p,
li,
h1,
h2,
h3,
h4 {
  word-break: break-word;
  // hyphens: auto;
}


/* =========================================================
   ROOT
   ========================================================= */

html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}


/* =========================================================
   BODY DEFAULTS
   ========================================================= */

body {
  margin: 0;
  padding: 0;

  min-height: 100vh;

  font-size: 100%;
  line-height: $leading-normal;

  text-rendering: optimizeSpeed;
}


/* =========================================================
   MEDIA
   ========================================================= */

img {
  display: block;
  max-width: 100%;
}


/* =========================================================
   FORM ELEMENTS
   ========================================================= */

input,
button,
textarea,
select {
  font: inherit;
}


/* =========================================================
   REDUCED MOTION
   ========================================================= */

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }

  html {
    scroll-behavior: auto;
  }
}
