h1 {
  color: $color-accent;
  font-size: 64px;

  @media only screen and (min-width: 768px) {
    font-size: 80px;
  }
}

h2 {
  margin: $grid-6x 0;
  font-family: $font-body;
  font-size: 40px;

  span {
    font-size: 30px;
    font-weight: 100;
    letter-spacing: -1px;
  }

  &.heading--extra-spacing {
    margin: $grid-6x 0 $grid-12x;
    color: $color-accent;
  }
}

h3 {
  margin: $grid-8x 0 $grid-4x;
  font-family: $font-body;
  font-size: 32px;
}

h4 {
  margin: $grid-4x 0 $grid-2x;
  font-family: $font-body;
  font-size: 20px;
}

p,
ol,
li {
  font-size: 20px;
  line-height: 1.55;

  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: 1.55;
  }
}

.caption-text {
  font-size: 16px;
  font-style: italic;
  color: #666;
}

ol {
  margin: $grid-5x 0;
}