.u-gutter {
  padding-right: $grid-4x;
  padding-left: $grid-4x;

  @media only screen and (min-width: 768px) {
    padding-right: $grid-6x;
    padding-left: $grid-6x;
  }

  @media only screen and (min-width: 1024px) {
    padding-right: 100px;
    padding-left: 100px;
  }
}

.u-border-soft {
  border: 1px solid #eee;
  box-shadow: 0 5px 5px 0 rgba(51, 51, 51, 0.1);
}

.u-reading {
  max-width: 700px;
  margin: auto;
}

.u-stacked-flex {
  @media only screen and (min-width: 1024px) {
    display: flex;
  }
}

.u-margin-top-3x {
  margin-top: $grid-3x;
}

.u-margin-bottom-spacing-large {
  margin-bottom: $grid-10x;
}

.u-margin-top-remove {
  margin-top: 0;
}

.u-margin-bottom-remove {
  margin-bottom: 0;
}

.u-separator {
  padding: 0 $grid;
  font-size: 20px;
}

.u-unlinked {
  margin-bottom: $grid-6x;
}

.u-buffer-space {
  margin-top: $grid-4x;
}