
$color-accent: #D0DB97;
$color-primary: #417731;
$color-muted: #333;

// Animation – duration of each home fade transition
$duration: 2s;

// Fade animation
$initial-load: fade-in $duration cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

$font-body: Lato, Roboto, Arial;
$font-brand: Albra, Georgia;
