/*
 * [Modified] Modern CSS Reset
 * @link https://github.com/hankchizljaw/modern-css-reset
*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p,
li,
h1,
h2,
h3,
h4 {
  word-break: break-word;
}

html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

/* Set core body defaults */
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-size: 100%;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }

  html {
    scroll-behavior: initial;
  }
}
/*-------------------------------
    GRID
-------------------------------*/
h1 {
  font-size: 64px;
}
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 100px;
  }
}

h2 {
  margin: 48px 0;
  font-size: 40px;
  font-family: "Rosario", serif;
}
h2.heading--extra-spacing {
  margin: 48px 0 96px;
  color: #5e0ede;
}

h3 {
  margin: 64px 0 32px;
  font-size: 32px;
  font-family: "Rosario", serif;
}

h4 {
  margin: 32px 0 16px;
  font-size: 20px;
  font-family: "Rosario", serif;
}

p,
ol,
li {
  font-size: 20px;
  line-height: 1.55;
}
@media screen and (min-width: 768px) {
  p,
ol,
li {
    font-size: 20px;
    line-height: 1.55;
  }
}

ol {
  margin: 40px 0;
}

.u-gutter {
  padding-left: 32px;
  padding-right: 32px;
}
@media only screen and (min-width: 768px) {
  .u-gutter {
    padding-left: 48px;
    padding-right: 48px;
  }
}
@media only screen and (min-width: 1024px) {
  .u-gutter {
    padding-left: 100px;
    padding-right: 100px;
  }
}

.u-border-soft {
  border: 1px solid #eee;
  box-shadow: 0px 5px 5px 0px rgba(51, 51, 51, 0.1);
}

.u-reading {
  margin: auto;
  max-width: 700px;
}

@media only screen and (min-width: 1024px) {
  .u-stacked-flex {
    display: flex;
  }
}

.u-margin-top-3x {
  margin-top: 24px;
}

.u-margin-bottom-spacing-large {
  margin-bottom: 80px;
}

/*--- ScrollFade Specific ---*/
.scrollFade {
  opacity: 1;
  pointer-events: all;
}

.scrollFade--hidden {
  opacity: 0;
  pointer-events: none;
}

.scrollFade--visible {
  opacity: 1;
  pointer-events: all;
}

.scrollFade--animate {
  transition: opacity 0.8s ease-in-out;
}

.cube-container {
  perspective: 1000px;
  perspective-origin: 50%;
  margin-left: 24px;
}
@media screen and (min-width: 768px) {
  .cube-container {
    margin-left: 0;
  }
}
@media screen and (min-width: 1024px) {
  .cube-container {
    margin-left: 50px;
  }
}

.cube {
  position: relative;
  margin: 0 auto;
  width: 70px;
  height: 70px;
  font-family: "Rosario", serif;
  font-size: 14px;
  transform-style: preserve-3d;
  animation: cube-rotation 90s infinite linear;
}
.cube > div {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background: linear-gradient(135deg, #b68df8, white 100%);
  border: 1px solid #5e0ede;
  color: #5e0ede;
  box-sizing: border-box;
}
.cube__face {
  align-items: center;
  justify-content: center;
}
.cube__front {
  transform: translateZ(35px);
}
.cube__back {
  transform: translateZ(-35px) rotateY(180deg);
}
.cube__top {
  transform: rotateX(-270deg) translateY(-35px);
  transform-origin: top center;
}
.cube__bottom {
  transform: rotateX(270deg) translateY(35px);
  transform-origin: bottom center;
}
.cube__left {
  transform: rotateY(270deg) translateX(-35px);
  transform-origin: center left;
}
.cube__right {
  transform: rotateY(-270deg) translateX(35px);
  transform-origin: center right;
}
.cube span {
  color: #5e0ede;
}

@keyframes cube-rotation {
  from {
    transform: rotateX(0deg) rotateY(0deg);
  }
  to {
    transform: rotateX(360deg) rotateY(360deg);
  }
}
html,
body {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  color: #121212;
  font-family: "Rosario", serif;
}

a {
  display: inline-block;
  line-height: 1.5;
  color: #5e0ede;
  text-decoration: none;
  transition: 0.3s all;
  border-bottom: 1px solid #d5bdfb;
}
a:active, a:visited {
  color: #5e0ede;
}
a:hover {
  transition: 0.3s all;
  color: #985df5;
}
a.logo__link {
  border: none;
}

main {
  max-width: 2560px;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 16px 0;
}
@media screen and (min-width: 500px) {
  header {
    padding: 32px;
  }
}
@media screen and (min-width: 768px) {
  header {
    position: fixed;
    padding: 48px;
    width: 100%;
    z-index: 10;
  }
}
@media screen and (min-width: 1024px) {
  header {
    position: fixed;
    padding: 64px;
    z-index: 10;
  }
}
header a {
  font-size: 20px;
}

video {
  margin: auto;
  cursor: pointer;
}

.video-wrapper {
  position: relative;
  margin: 80px auto;
}

.section {
  padding-top: 24px;
  padding-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .section {
    min-height: 100vh;
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media screen and (min-width: 1024px) {
  .section {
    min-height: 80vh;
  }
}
@media screen and (min-width: 768px) {
  .section__hero {
    padding-top: 0;
    padding-bottom: 0;
  }
}
.section--highlight {
  background: #ffffff;
  border-top: 1px dotted #5e0ede;
}
.section__intro {
  max-width: 1200px;
  display: grid;
  align-items: stretch;
  justify-content: center;
  margin: 32px auto 0;
  color: #121212;
}
@media screen and (min-width: 768px) {
  .section__intro {
    margin: 0 auto;
    min-height: 80vh;
    align-items: center;
  }
}
.section__intro h1 {
  font-family: "Rosario", serif;
  font-size: 50px;
}
@media screen and (min-width: 1200px) {
  .section__intro h1 {
    font-size: 130px;
  }
}
.section__intro-content p {
  max-width: 650px;
  font-family: "El Messiri", sans-serif;
  font-size: 28px;
  line-height: 1.35;
}
@media screen and (min-width: 768px) {
  .section__intro-content p {
    font-size: 40px;
    line-height: 1.35;
  }
}
@media screen and (min-width: 768px) and (orientation: landscape) {
  .section__intro-content--home {
    margin-top: 100px;
  }
}
@media screen and (min-width: 768px) {
  .section__portfolio {
    min-height: 100vh;
  }
}
@media screen and (min-width: 1024px) {
  .section__about {
    min-height: 50vh;
    padding-top: 200px;
  }
}
@media screen and (min-width: 1200px) {
  .section__about {
    min-height: 100vh;
    padding-top: 200px;
  }
}
.section__about h1 {
  font-family: "Rosario", serif;
  font-size: 70px;
  line-height: 1.2;
}
@media screen and (min-width: 1200px) {
  .section__about h1 {
    font-size: 130px;
    line-height: 1.1;
  }
}
.section__tight {
  padding-top: 0;
  padding-bottom: 0;
}
.section__tight > p {
  margin: 100px 0;
  max-width: 700px;
}
@media screen and (min-width: 768px) {
  .section__wide {
    display: grid;
    justify-content: center;
  }
}
.section__wide h3 {
  color: #5e0ede;
}
@media screen and (min-width: 768px) {
  .section .column {
    max-width: 50%;
  }
}
@media screen and (min-width: 768px) {
  .section .column__indent {
    max-width: 700px;
    margin-left: 60px;
  }
}
.section__footer {
  margin-top: 100px;
  padding-top: 170px;
  background: #f4edfe;
  color: #ffffff;
  background-size: 10px 10px;
  background-image: repeating-linear-gradient(135deg, #eadffd 0, #eadffd 1px, #f4edfe 0, #f4edfe 50%);
}
@media screen and (min-width: 768px) {
  .section__footer {
    min-height: 100vh;
  }
}
.section__footer h2,
.section__footer p {
  color: #121212;
  max-width: 600px;
}
.section__footer p {
  font-size: 20px;
}
.section__footer a {
  display: inline;
}

.disciplines {
  column-count: 2;
  max-width: 700px;
  padding: 0;
  list-style-type: none;
}
.disciplines li {
  margin: 16px 0;
}
.disciplines li:first-of-type {
  margin-top: 0;
}

@media screen and (min-width: 500px) {
  .navigation {
    display: flex;
    align-items: center;
  }
}
.navigation li {
  margin: 16px 0;
  list-style: none;
}
@media screen and (min-width: 500px) {
  .navigation li {
    margin: 0 16px;
  }
}
@media screen and (min-width: 600px) {
  .navigation li {
    margin: 0 24px;
  }
}

.portfolio__group {
  justify-content: center;
}
@media screen and (min-width: 1024px) {
  .portfolio__group {
    display: flex;
    margin-bottom: 160px;
  }
}
.portfolio__group--reduced-spacing {
  margin-bottom: 56px;
}
.portfolio__group--increased-spacing-mobile {
  margin-top: 80px;
}
@media screen and (min-width: 1024px) {
  .portfolio__group--increased-spacing-mobile {
    margin-top: 0;
  }
}
.portfolio__image-title {
  margin: 64px 0 32px;
}
@media screen and (min-width: 1024px) {
  .portfolio__image {
    position: relative;
  }
}
@media screen and (min-width: 1024px) {
  .portfolio__image-container {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    max-width: 60%;
  }
}
@media screen and (min-width: 1024px) {
  .portfolio__image-container--reduced {
    max-width: 40%;
  }
}
.portfolio__image-container:hover .portfolio__overlay {
  opacity: 0.85;
}
.portfolio__image-container a {
  border-bottom: none;
}
.portfolio__overlay {
  display: none;
}
@media screen and (min-width: 1024px) {
  .portfolio__overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    background: #fafafa;
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: 0.3s all;
  }
  .portfolio__overlay p {
    display: inline-block;
    padding: 32px;
    font-size: 20px;
    line-height: 1.55;
    color: #5e0ede;
  }
}
@media screen and (min-width: 1024px) and (min-width: 1200px) {
  .portfolio__overlay p {
    font-size: 36px;
    max-width: 80%;
  }
}
.portfolio__summary {
  font-family: "Rosario", serif;
}
@media screen and (min-width: 1024px) {
  .portfolio__summary {
    width: 40%;
  }
}
@media screen and (min-width: 1024px) {
  .portfolio__summary--left {
    padding-right: 56px;
  }
}
@media screen and (min-width: 1024px) {
  .portfolio__summary--right {
    padding-left: 56px;
  }
}
.portfolio__summary h2 {
  margin: 32px 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.55;
  color: #5e0ede;
}
.portfolio__summary p {
  font-size: 20px;
  line-height: 1.55;
}
@media screen and (min-width: 1024px) {
  .portfolio__summary p {
    max-width: 80%;
  }
}
.portfolio__summary a {
  display: inline-block;
  margin: 32px 0 48px;
  padding: 0;
  font-size: 20px;
  transition: 0.3s all;
  transform: translate(0, 0);
}
@media screen and (min-width: 1024px) {
  .portfolio__summary a {
    margin: 96px 0 0;
  }
}
.portfolio__summary a:hover {
  display: inline-block;
  padding-left: 24px;
}
.portfolio__article {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .portfolio__article {
    padding-top: 48px;
  }
}
.portfolio__article h3 {
  margin: 40px 0 16px;
  font-size: 26px;
  color: #5e0ede;
}
@media screen and (min-width: 768px) {
  .portfolio__article h3 {
    margin: 64px 0 32px;
  }
}
.portfolio__article h2 {
  margin: 0;
}
@media screen and (min-width: 768px) {
  .portfolio__article h2 {
    margin: 48px 0;
  }
}
.portfolio__article-image {
  margin: 32px auto;
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .portfolio__article-image {
    margin: 40px auto;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__article-image {
    margin: 64px auto;
  }
}
@media screen and (min-width: 1800px) {
  .portfolio__article-image {
    max-width: 1600px;
  }
}
.portfolio__article-image--1400w {
  max-width: 100%;
}
@media screen and (min-width: 1600px) {
  .portfolio__article-image--1400w {
    max-width: 1400px;
  }
}
.portfolio__two-columns {
  margin: auto;
  max-width: 1600px;
  display: flex;
  align-items: flex-start;
}
.portfolio__two-columns .portfolio__article-image {
  width: 40%;
}
.portfolio__two-columns--hero-left .portfolio__article-image:first-of-type {
  width: 50%;
}
.portfolio__two-columns--hero-left .portfolio__article-image:last-of-type {
  width: 25%;
}
.portfolio__callout {
  font-family: "El Messiri", sans-serif;
  font-size: 32px;
  color: #5e0ede;
  margin: 56px auto;
}

/*# sourceMappingURL=style.css.map */
